	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			<a routerLink="/tablero/tasks"> Admin </a>
		</li>
		<li class="breadcrumb-item active"> Marcas </li>
	</ul>

<div class="alert {{_alertClass}}" *ngIf="_alertState">
	{{_alertText}}
</div>

<div class="tab-content" *ngIf="_viewActive == 'panel'">
  <div class="tab-pane container active table-admin">
		<header class="d-flex registrer-states" *ngIf="_marcas != undefined">
		  	<h5>Registros: {{_totalMarcas}}</h5>
		  	<button  class="btn btn-dark ml-auto" type="button" (click)="go('form', 'create')">
		  		<span class="icon">+</span> Añadir
		  	</button>
		</header>

		<div class="loading company-loading" *ngIf="_marcas == undefined">Cargando...</div>

		<div class="main" *ngFor="let marcas of _marcas; let i = index;" id="row-group-{{marcas.id}}">
			<header class="header-order-work d-flex">
				<span class="bag-brm bag-counter"> {{i+1}} </span>
					<div class="register-information">
						<h5 class="colorBlue"> {{marcas.nombre}} </h5>
							<p class="date"> 
								<b>Fecha:</b> {{marcas.fecha}} 
							</p>
							<p>
								<b>Email:</b> {{marcas.correo}} / <b>Télefono:</b> {{marcas.telefono}}
							</p>
							<p>
								<b>Ciudad:</b> {{marcas.ciudad?.nombre}} / <b>Dirección:</b> {{marcas.direccion}}
							</p>
							
					</div>
					<div class="buttons-admin-actions ml-auto">
						<button type="button" class="btn btn-primary btn-brm-edit" (click)="go('form', 'edit', marcas)">
							<i class="fas fa-pencil-alt"></i>
						</button>
						<button type="button" class="btn btn-primary btn-brm-delete" (click)="delete(marcas.id, 'grupos')">
							<i class="fas fa-trash"></i>
						</button>
					</div>
			</header>
		</div>
		<ul class="pagination pagination-lg justify-content-center admin-pagination" *ngIf="_marcas != undefined">
			  <li class="page-item">
			  	<a class="page-link" href="#">
			  		<i class="fas fa-angle-left"></i>
			  	</a>
			 </li>
			  
			  <li class="page-item active" 
			  		*ngFor="let pages of _totalPage"
			  		(click)="getMarcas(pages)"
			  		[class.active]="_currentPage == pages">
			  			<a class="page-link">{{pages}}</a>
			  </li>	

			<li class="page-item">
				<a class="page-link" href="#">
					<i class="fas fa-angle-right"></i>
				</a>
			</li>
		</ul>
  </div>
</div>
	
	<section id="all-order" *ngIf="_viewActive == 'form'">
		<article class="card-ot">
			<div class="main">
				<header class="d-flex card-ot-header">
					<span class="bag-brm left-bag-brm bag-proceso"> Nueva Marca </span>
				</header>
				<div class="card-ot-body">
					<p>Todos los campos marcados so obligatorios * </p>
						<div class="row brm-forms">
							<div class="form-group col-sm-12 col-md-6">
								<input type="text" class="form-control orderWorkTitle" id="pwd" placeholder="Ingresa un título" 
										[(ngModel)]="_marcasName" >
							</div>

						    <div class="form-group col-sm-12 col-md-6">
							    <input type="text" class="form-control orderWorkTitle" id="pwd" placeholder="Ingresa una Dirección" 
							    		[(ngModel)]="_marcasAddress">
							</div>

							<div class="form-group col-sm-12 col-md-6">
								<input type="tel" class="form-control orderWorkTitle" id="pwd" placeholder="Ingresa un Teléfono" 
										[(ngModel)]="_marcasPhone">
							</div>

						    <div class="form-group col-sm-12 col-md-6">
							    <input type="email" class="form-control orderWorkTitle" id="pwd" placeholder="Ingresa un Email" 
							    		[(ngModel)]="_marcasEmail">
							</div>

							<div class="form-group col-sm-12 col-md-6" style="padding-top: 20px;">
										<select class="custom-select mb-3 orderWorkTitle" [(ngModel)]="_marcasCliente">
										    <option selected value="init">* clientes</option>
										    <option *ngFor="let clientes of _clientes"  [value]="clientes.id">
										    			{{clientes.nombre}}
										    </option>
										</select>
							</div>

						    <div class="form-group col-sm-12 col-md-6"  style="padding-top: 20px;">
								<select class="custom-select mb-3 orderWorkTitle" [(ngModel)]="_marcasCity">
										<option selected value="init">*Ciudad</option>
										<option *ngFor="let ciudad of _ciudades" [value]="ciudad.id">
											{{ciudad.nombre}}
										</option>
								</select>
							</div>
						</div>
				</div>
			</div>
		</article>
			<section id="all-order">
			<footer class="brm-form-actions d-flex justify-content-end">
				<button class="btn btn-danger btn-brm-delete" type="button" (click)="go('panel')">
						CANCELAR
				</button>
				<button type="button" class="btn btn-dark btn-brm-create" (click)="save()">
					GUARDAR
				</button>
			</footer>
	</section>
	</section>