.tasks-info{
	margin-bottom:13px;
	padding-top: 15px;
}
.tasks-info h5 span.title{
	text-decoration: uppercase;
	display:inline-block;
	padding-top:10px;
	font-weight: 320;
}
.tasks-info h5 span.icon img{ 
	width:25px;
	height:25px;
	margin-top:-5px;
	margin-right:8px;
}
.filter-for-task button{
	background-color: transparent;
	margin-left: 8px;
	border-color: transparent;
}
.filter-for-task button.active_{
	background-color: #fff;
	border-color: gray;
	font-weight: bold;
}
.filter-for-task button:hover{
	color:blue;
	background-color: #fff;
	font-weight: bold;
}
.filter-for-task{
	padding-top:3px;
}