<section class="tasks-info d-flex">
	<h5>
		<span class="icon icon-calendar">
			<img src="assets/icons/calendar.svg" class="icon-brm icon-info" />
		</span>
		<span class="title colorBlue">Estas son tus tareas para: </span>
	</h5>

	<div class="filter-for-task ml-auto">
		<button type="button" class="btn btn-outline-secondary active_ colorBlue"> HOY </button>
		<button type="button" class="btn btn-outline-secondary colorBlue"> SEMANA </button>
		<button type="button" class="btn btn-outline-secondary colorBlue"> MES </button>
	</div>
</section>

<section id="all-order">
	<article class="card-ot" *ngFor="let ots of _ots">
		<div class="main">
			<a routerLink="/dashboard/detail/{{ots.id}}">
				<header class="d-flex card-ot-header">
					<span class="bag-brm left-bag-brm bag-{{ots.estado.estado}}"> 
								{{ots.estado.estado}}
					</span>
					<h4 class="colorBlue ot-title"> {{ots.marca.nombre}} </h4>
						<div class="ml-auto card-ot-datetime">
							<span class="bag-brm"> OT-{{ots.identificador}}</span>
							<span class="bag-brm"> Fecha: {{ots.fecha}} </span>
						</div>
				</header>
			</a>

			<div class="card-ot-body">
				<h5> {{ots.titulo}}  </h5>
				<small class="ot-time-info">
					<b>Inicio:</b> {{ots.fecha_inicio}} / <b>Final:</b> {{ots.fecha_fin}}
				</small>
				<p> {{ots.descripcion}} </p>
				
				
				<a routerLink="/dashboard/edit-task/{{ots.id}}" class="show-properties"> Editar como admin </a>
				
				<ul>
					<li>
						<span class="info-text"> El tiempo estimado para terminar la tarea es de: </span>
							<b>{{ots.tiempo_asignado}}</b>
					</li>
					<li>
						<span class="info-text"> Links asociados: </span>
						<a class="asociate-links" href="" target="_blank">
							Nombre del link
						</a>
					
					</li>
				</ul>

				<div class="d-flex user-asing-work-order">
						<figure class="user-circle"> <img src="" /> </figure>
							<span class="title-responsable"><b class="info-text">Tu</b>, Responsable de esta tarea</span>
				</div>
			</div>
		</div>
		
		<footer class="comments-list">
			<header class="comment-header d-flex">
				<h5>Comentarios</h5>
					<div class="ml-auto d-flex">
						<figure class="user-circle" >
								<img src="" />
						</figure>
						
						<figure class="icon-comment">
							<img src="assets/icons/speech-bubble.svg" />
								<span class="number-comment">
									2
								</span>
						</figure>
						
						<button type="button" class="btn btn-outline-secondary">
							Ver
						</button>
					</div>
			</header>
				

					<!--usualmente la OT tiene estos campos ocultos
						<div class="user-comments" *ngFor="let comment of ots.comments; let ind = index">
							<blockquote class="d-flex blockComment" *ngIf="ind < 2">
								<figure class="user-circle"> <img src="" /> </figure> 
								<div class="comment-maked">
									<span> 
										<b>{{comment.name_user}}</b> 
										<span>{{comment.date}}</span>
									</span>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
									</p>
								</div>
							</blockquote>
						</div>
					

						<button type="button" class="btn btn-primary btn-block btn-brm-showAll d-flex justify-content-center" *ngIf="order.comments.length > 2">
							<a routerLink="/tablero/detail/{{order.id}}" class=" d-flex">
								Cargar mas comentarios <div class="icon-plus">+</div>
							</a>
						</button>
					
						<div class="add-new-comment oculto">
								<span>Tu </span> <b>10-08-2018</b>
							<textarea placeholder="Escribe un comentario"></textarea>
						</div>
					-->
					</footer>
				</article>
</section>

<ul class="pagination pagination-lg justify-content-center admin-pagination" *ngIf="true">
			  <li class="page-item">
			  	<a class="page-link" href="#">
			  		<i class="fas fa-angle-left"></i>
			  	</a>
			 </li>
			  
			  <li class="page-item active" 
			  		*ngFor="let page of _totalPage"
			  		(click)="getOts(page)"
			  		[class.active]="_currentPage == page">
			  			<a class="page-link">{{page}}</a>
			  </li>	

			<li class="page-item">
				<a class="page-link" href="#">
					<i class="fas fa-angle-right"></i>
				</a>
			</li>
		</ul>
