	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			<a routerLink="/tablero/tasks"> Admin </a>
		</li>
		<li class="breadcrumb-item">
			<a routerLink="/tablero/tasks"> Usuarios </a>
		</li>
		<li class="breadcrumb-item active"> Añadir </li>
	</ul>


	<section class="tasks-info d-flex ">
		<h5>
			<span class="icon icon-calendar">
				<span class="uber-user icon-brm icon-info"> </span>
			</span>
				<span class="title colorBlue">CREAR USUARIO: </span>
		</h5>
	</section>

	<section id="all-order">
		<article class="work-order">
			<div class="main">
				<header class="d-flex header-order-work">
					<span class="bag-brm left-bag-brm bag-proceso"> Nuevo Usuario </span>
						
				</header>
				<div class="body-work-order">
					<p>Todos los campos marcados son obligatorios * </p>
						<div action="/action_page.php" class="row brm-forms">
							<div class="form-group col-sm-12 col-md-6">	
								<p>Nombre</p>
								<input type="text" placeholder="Nombre">	
							</div>
							<div class="form-group col-sm-12 col-md-6">	
								<p>Correo Electrónico</p>
								<input type="text" placeholder="correo@email.com">	
							</div>
							<div class="form-group col-sm-12 col-md-4">	
								<p>Usuario</p>
								<input type="text" placeholder="Nombre de Usuario">	
							</div>
							<div class="form-group col-sm-12 col-md-4">	
								<p>Rol</p>
								<select name="" id="" class="custom-select">
									<option value="" selected>Seleccionar Rol</option>
									<option value="" >Administrador</option>
									<option value="">Recursos Humanos</option>
								</select>	
							</div>
							<div class="form-group col-sm-12 col-md-4">	
								<p>Fecha de Creación</p>
								<input type="date">	
							</div>
						</div>
				</div>
			</div>
		</article>
		<footer class="brm-form-actions d-flex justify-content-end">
			<button type="button" class="btn btn-danger btn-brm-delete">
				CANCELAR
			</button>
			<button type="button" class="btn btn-dark btn-brm-create">
				CREAR
			</button>
		</footer>
	</section>

	
	
	