<ul class="breadcrumb">
	<li class="breadcrumb-item">
		<a routerLink="/tablero/tasks"> Admin </a>
	</li>
	<li class="breadcrumb-item active"> Usuarios </li>
</ul>

<section class="tasks-info d-flex ">
		<h5 class="colorBlue">
			<span class="icon icon-calendar">
				<span class="uber-users icon-brm icon-info"> </span>
			</span>
				<span class="title ">USUARIOS </span>
		</h5>
		<a class="btn btn-dark ml-auto" href="dashboard/users"> <span class="icon uber-plus"></span> Nuevo Usuario</a>
</section>
<section class="d-flex">
	<table class="table table-striped">
		<thead>
			<tr >
				<th scope="col">Nombre</th>
				<th scope="col">Usuario</th>
				<th scope="col">Correo Electrónico</th>
				<th scope="col">Fecha de Creación</th>
				<th scope="col">Acciones</th>
			</tr>
		</thead>
		
		<tbody>
			<tr *ngFor="let usuario of _users; let i = index;">
				<td>{{usuario.nombre}}</td>
				<td>{{usuario.usuario}}</td>
				<td>{{usuario.correo}}</td>
				<td>{{usuario.fecha}}</td>
				<td id="delete">
					<ul>
						<li><a href="dashboard/users/" ><span class="uber-pencil icon"></span></a></li>
						<li><a href="" data-toggle="modal" data-target="#exampleModal"><span class="uber-trash icon"></span></a></li>
					</ul>
				</td>
			</tr>
			
			
		</tbody>
		
	</table>


</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        ¿Esta seguro de eliminar el usuario del sistema?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-brm-delete-modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>
