	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			<a routerLink="/tablero/tasks"> Admin </a>
		</li>
		<li class="breadcrumb-item" (click)="goTo('list')">
			<a> Usuarios </a>
		</li>
		<li class="breadcrumb-item active"> {{_viewActive}} </li>
	</ul>

<!------Listar Usuarios--------->
<div class="list" *ngIf="_viewActive == 'ListaUsuarios'">
	<section class="tasks-info d-flex ">
		<h5 class="colorBlue">
			<span class="icon icon-calendar">
				<span class="uber-users icon-brm icon-info"> </span>
			</span>
				<span class="title ">USUARIOS </span>
		</h5>
		<button type="button" class="btn btn-dark ml-auto" (click)="goTo('Crear')"> <span class="icon uber-plus"></span> Nuevo Usuario</button>
	</section>
	<section class="d-flex">
		<table class="table table-striped">
			<thead>
				<tr >
					<th scope="col">Nombre</th>
					<th scope="col">Usuario</th>
					<th scope="col">Correo Electrónico</th>
					<th scope="col">Fecha de Creación</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			
			<tbody>
				<tr *ngFor="let usuario of _users; let i = index;">
					<td>{{usuario.nombre}}</td>
					<td>{{usuario.usuario}}</td>
					<td>{{usuario.correo}}</td>
					<td>{{usuario.fecha}}</td>
					<td id="delete">
						<ul>
							<li><a href="dashboard/users/" ><span class="uber-pencil icon"></span></a></li>
							<li><a href="" data-toggle="modal" data-target="#DeleteModal"><span class="uber-trash icon"></span></a></li>
						</ul>
					</td>
				</tr>
				
				
			</tbody>
			
		</table>
	</section>
	<section>
		<ul class="pagination pagination-xl justify-content-center admin-pagination">
			  <li class="page-item"><a class="page-link" href="#"><span class="uber-arrow-left"></span></a></li>
			  
			  <li class="page-item active" *ngFor="let pages of _totalPage" (click)="getGrupos(pages)" [class.active]="_currentPage == pages">
			  	<a class="page-link">{{pages}}</a>
			  </li>	

			<li class="page-item"><a class="page-link" href="#"><span class="uber-arrow-rigth"></span></a></li>
		</ul>
	</section>
</div>

<!------Listar Usuarios--------->

<!------Crear Usuario--------->
<div class="create" *ngIf="_viewActive == 'Crear'">
	<section class="tasks-info d-flex ">
		<h6 >
				<span class="title colorBlue"> DATOS BASICOS</span>
		</h6>
		<button type="button" class="btn btn-dark ml-auto" (click)="goTo('ListaUsuarios')" > <span class="uber-arrow-left"></span> Volver</button>
	</section>

	<section id="all-order">
		<article class="work-order">
			<div class="main">
				<header class="d-flex header-order-work">
					<span class="bag-brm left-bag-brm bag-proceso"> Nuevo Usuario </span>	
				</header>

				<div class="body-work-order">
					<p>Todos los campos marcados son obligatorios * </p>
						<form action="" class="row brm-forms">
							<div class="form-group col-sm-12 col-md-6">	
								<p>Nombre</p>
								<input type="text" placeholder="Nombre" id="nombre" name="nombre" [(ngModel)]="_nombre">	
							</div>
							<div class="form-group col-sm-12 col-md-6">	
								<p>Correo Electrónico</p>
								<input type="text" placeholder="correo@email.com" id="correo" name="correo" [(ngModel)]="_correo">	
							</div>
							<div class="form-group col-sm-12 col-md-4">	
								<p>Usuario</p>
								<input type="text" placeholder="Nombre de Usuario" id="usuario" name="usuario" [(ngModel)]="_usuario">	
							</div>
							<div class="form-group col-sm-12 col-md-4">	
								<p>Rol</p>
								<select name="" id="" class="custom-select">
									<option value="" selected>Seleccionar Rol</option>
									<option value="" >Administrador</option>
									<option value="">Recursos Humanos</option>
								</select>	
							</div>
							<div class="form-group col-sm-12 col-md-4">	
								<p>Fecha de Creación</p>
								<input type="date" id="fecha" name="fecha" [(ngModel)]="_fecha">	
							</div>
						</form>
				</div>
			</div>
		</article>
		<footer class="brm-form-actions d-flex justify-content-end">
			<a class="btn btn-brm-delete" href="dashboard/users-list" data-toggle="modal" data-target="#CancelModal">
				CANCELAR
			</a>
			<button type="button" class="btn btn-dark btn-brm-create" (click)="CRUDusers()">
				CREAR
			</button>
		</footer>
	</section>
</div>

	<!------Crear Usuario--------->

	<!-- Modal -->
<div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Si cancela se perdera la información actual. ¿Esta seguro?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-brm-delete-modal" data-dismiss="modal" (click)="goTo('ListaUsuarios')">Si</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        ¿Esta seguro de eliminar el usuario del sistema?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-brm-delete-modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>


	
	
	