<ul class="breadcrumb">
	<li class="breadcrumb-item">
		<a routerLink="/tablero/tasks"> Admin </a>
	</li>
	<li class="breadcrumb-item active"> Usuarios </li>
</ul>

<section class="tasks-info d-flex ">
		<h5 class="colorBlue">
			<span class="icon icon-calendar">
				<span class="uber-users icon-brm icon-info"> </span>
			</span>
				<span class="title ">USUARIOS </span>
		</h5>
		<button class="btn btn-dark ml-auto"> <span class="icon">+</span> Nuevo Usuario</button>
</section>
<section class="d-flex">
	<table class="table table-striped">
		<thead>
			<tr >
				<th scope="col">Nombre</th>
				<th scope="col">Usuario</th>
				<th scope="col">Correo Electrónico</th>
				<th scope="col">Fecha de Creación</th>
				<th scope="col">Acciones</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td>Andres David Alvarez Murcia</td>
				<td>Andres.alvarez</td>
				<td>andres-alvarez@brm.com.co</td>
				<td>12/03/2018</td>
				<td id="delete">
					<ul>
						<li><a href=""><span class="uber-pencil icon"></span></a></li>
						<li><a href=""><span class="uber-trash icon"></span></a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Andres David Alvarez Murcia</td>
				<td>Andres.alvarez</td>
				<td>andres-alvarez@brm.com.co</td>
				<td>12/03/2018</td>
				<td id="delete">
					<ul>
						<li><a href=""><span class="uber-pencil icon"></span></a></li>
						<li><a href=""><span class="uber-trash icon"></span></a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Andres David Alvarez Murcia</td>
				<td>Andres.alvarez</td>
				<td>andres-alvarez@brm.com.co</td>
				<td>12/03/2018</td>
				<td id="delete">
					<ul>
						<li><a href=""><span class="uber-pencil icon"></span></a></li>
						<li><a href=""><span class="uber-trash icon"></span></a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Andres David Alvarez Murcia</td>
				<td>Andres.alvarez</td>
				<td>andres-alvarez@brm.com.co</td>
				<td>12/03/2018</td>
				<td id="delete">
					<ul>
						<li><a href=""><span class="uber-pencil icon"></span></a></li>
						<li><a href=""><span class="uber-trash icon"></span></a></li>
					</ul>
				</td>
			</tr>
			
		</tbody>
		
	</table>
</section>
