<ul class="breadcrumb">
	<li class="breadcrumb-item">
		<a routerLink="/tablero/tasks">Admin</a>
	</li>
	<li class="breadcrumb-item active">Odernes De Trabajo</li>
</ul>

			<section class="tasks-info d-flex ">
				<h6>
					<span class="title colorBlue">OPCIONES NUEVA OT: </span>
				</h6>
			</section>

			<section id="all-order">
				<article class="work-order">
					<div class="main">
						<header class="d-flex header-order-work">
							<span class="bag-brm left-bag-brm bag-proceso"> Nuevo Estado </span>
								<div class="ml-auto work-datetime">
									<span class="bag-brm"> Ver estados </span>
								</div>
						</header>

						<div class="body-work-order">
						<p>Todos los campos marcados so obligatorios * </p>
						<form action="/action_page.php" class="row brm-forms">
							<div class="form-group col-sm-12 col-md-9">
								<input type="text" class="form-control orderWorkTitle" id="pwd" placeholder="* Escribe el título">
							</div>

						   <div class="form-group col-sm-12 col-md-3">
								<input type="text" class="form-control orderWorkTitle" id="pwd" placeholder="Color">
							</div>
						</form>

						</div>
					</div>
				</article>

				<footer class="brm-form-actions d-flex justify-content-end">
					<button type="button" class="btn btn-dark btn-brm-create">
						CREAR ESTADO
					</button>
				</footer>
			</section>

			<section class="tasks-info d-flex ">
				<h6>
					<span class="title colorBlue">OPCIONES NUEVO TIPO OT: </span>
				</h6>
			</section>

			<section id="all-order">
				<article class="work-order">
					<div class="main">
						<header class="d-flex header-order-work">
							<span class="bag-brm left-bag-brm bag-proceso"> Nuevo Tipo OT </span>
								<div class="ml-auto work-datetime">
									<span class="bag-brm"> Ver Tipos OT </span>
								</div>
						</header>

						<div class="body-work-order">
						<p>Todos los campos marcados so obligatorios * </p>
						<form action="/action_page.php" class="row brm-forms">
							<div class="form-group col-sm-12 col-md-6">
								<input type="text" class="form-control orderWorkTitle" id="pwd" placeholder="* Escribe el título">
							</div>

						   <div class="form-group col-sm-12 col-md-6">
								<input type="text" class="form-control orderWorkTitle" id="pwd" placeholder="Color">
							</div>
						</form>

						</div>
					</div>
				</article>

				<footer class="brm-form-actions d-flex justify-content-end">
					<button type="button" class="btn btn-dark btn-brm-create">
						CREAR TIPO OT
					</button>
				</footer>
			</section>



