<div class="container-fluid h-100">
	<section class="row h-100">
		<article class="col-12 col-sm-12 col-md-6 h-90 login-full-image full-image">
		</article>
		<article class="col-12 col-sm-12 col-md-6 login-right-section full-image">
			<div class="brm-logo-main"></div>
			<div class="section-login d-flex justify-content-center">
				<figure class="brm-logo">
					<img src="/assets/logo-brm.png" />
				</figure>
				<div class="entry-user">
					<div class="user-img">
						<img src="/assets/user-login.png"/>
					</div>
					<p>	¡Eddie Dirige el trafico¡, Tu tienes Gracia.<p>
					<a routerLink="/dashboard/tasks">
						<button type="button" class="btn btn-dark">
							Accede <span class="to-much-text">a tu cuenta corporativa</span>
						</button>
					</a>
				</div>
				<p class="user-forgotten"> 
					¿No te acuerdas de tu usuario? 
					<a class="" href="#">Click aquí</a>
				</p>
			</div>
			<div class="d-flex justify-content-center forgotten-user-float">
				
			</div>
		</article>
	</section>
</div>

<footer class="footer-copyRight d-flex justify-content-center">
	<figure class="make-with-love">
			<img src="/assets/make-with-love.png"/>
	</figure>
	<p class="copy">© BRM 2018 Todos los derechos reservados</p>
</footer>
