<ul class="breadcrumb">
	<li class="breadcrumb-item">
		<a routerLink="/tablero/tasks">Tareas</a></li>
	<li class="breadcrumb-item active">Nombre de detalle</li>
</ul>

	<section id="all-order" >
		<article class="card-ot">
			<div class="main">
				<a class="show-properties">
					<header class="d-flex card-ot-header">
						<span class="bag-brm left-bag-brm bag-proceso"> 
								En proceso
						</span>
						<h4 class="colorBlue ot-title"> Cliente de prueba  </h4>
							<div class="ml-auto card-ot-datetime">
								<span class="bag-brm"> 
									OT-213123
								</span>
								<span class="bag-brm">
									Fecha:  Fecha: 2018-09-25 21:22:31 
								</span>
							</div>
					</header>
				</a>

			<div class="card-ot-body">
				<h5> Titulo de esta Ot  </h5>
				<small class="ot-time-info">
					<b>Inicio:</b> asdasdasd / <b>Final:</b> asdasdasd
				</small>
				<p> asdaksjdhkljasdljkhasdjklhaklsdhajklsdhkljasdhkljadhkjashdk </p>
				
				<!--
				<a routerLink="/dashboard/edit-task/{{ots.id}}" class="show-properties"> Editar como admin </a>
				-->
				<ul>
					<li>
						<span class="info-text"> El tiempo estimado para terminar la tarea es de: </span>
							<b>5 Horas</b>
					</li>
					<li>
						<span class="info-text"> Links asociados: </span>
						<a class="asociate-links" href="" target="_blank">
							Nombre del link
						</a>
					
					</li>
				</ul>

				<div class="d-flex user-asing-work-order">
						<figure class="user-circle"> <img src="" /> </figure>
							<span class="title-responsable"><b class="info-text">Tu</b>, Responsable de esta tarea</span>
				</div>
			</div>
		</div>
		
		<footer class="comments-list">
			<header class="comment-header d-flex">
				<h5>Comentarios</h5>
					<div class="ml-auto d-flex">
						<figure class="user-circle" >
								<img src="" />
						</figure>
						
						<figure class="icon-comment">
							<img src="/assets/icons/speech-bubble.svg" />
								<span class="number-comment">
									2
								</span>
						</figure>
						
						<button type="button" class="btn btn-outline-secondary">
							Ver
						</button>
					</div>
			</header>

			<!--Lista de comentarios anteriores-->
			<div class="user-comments">
				<blockquote class="d-flex blockComment">
					<figure class="user-circle"> <img src="" /> </figure> 
						<div class="comment-maked">
							<span> 
								<b>Usuario que comento</b> 
								<span>Fecha de comentario</span>
							</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
							</p>
						</div>
					</blockquote>
			</div>


			<!--
				<button type="button" class="btn btn-primary btn-block btn-brm-showAll d-flex justify-content-center">
					Cargar mas comentarios <div class="icon-plus">+</div>
				</button>
			-->

						<div class="add-new-comment">
								<span>Tu </span> - <b>10-08-2018</b>
							<textarea placeholder="Escribe un comentario"></textarea>
						</div>
						<footer class="brm-form-actions d-flex justify-content-end">
							<button type="button" class="btn btn-dark btn-brm-create">
								ENVIAR COMENTARIO
							</button>
						</footer>

					</footer>
				</article>
			</section>