	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			<a routerLink="/tablero/tasks"> Admin </a>
		</li>
		<li class="breadcrumb-item">
			<a routerLink="/tablero/tasks"> Clientes </a>
		</li>
		<li class="breadcrumb-item active"> Añadir </li>
	</ul>


	<!--<section class="tasks-info d-flex ">
		<h5>
			<span class="icon icon-calendar">
				<img src="/assets/icons/calendar.svg" class="icon-brm icon-info" />
			</span>
				<span class="title colorBlue">CREANDO NUEVA MARCA: </span>
		</h5>
	</section>-->

	<section id="all-order">
		<article class="work-order">
			<div class="main">
				<header class="d-flex header-order-work">
					<span class="bag-brm left-bag-brm bag-proceso"> Nuevo Cliente </span>
						<div class="ml-auto work-datetime">
							<span class="bag-brm bag-asignado"> Ver clientes</span>
						</div>
				</header>
				<div class="body-work-order">
					<p>Todos los campos marcados so obligatorios * </p>
						<div action="/action_page.php" class="row brm-forms">
							<div class="form-group col-sm-12">
								<input type="text" class="form-control orderWorkTitle" id="pwd" placeholder="Ingresa un título"  >
							</div>

						    <div class="form-group col-sm-12 col-md-6">
							    <input type="text" class="form-control orderWorkTitle" id="pwd" placeholder="Ingresa una Dirección"  >
							</div>

							<div class="form-group col-sm-12 col-md-6">
								<input type="tel" class="form-control orderWorkTitle" id="pwd" placeholder="Ingresa un Teléfono"  >
							</div>

						    <div class="form-group col-sm-12 col-md-6">
							    <input type="email" class="form-control orderWorkTitle" id="pwd" placeholder="Ingresa un Email"  >
							</div>

							<div class="form-group col-sm-12 col-md-6">
								<input type="email" class="form-control orderWorkTitle" id="pwd" placeholder="Ciudad"  >
							</div>
						</div>
				</div>
			</div>
		</article>
	</section>


	<section id="all-order">
		<footer class="brm-form-actions d-flex justify-content-end">
			<button type="button" class="btn btn-dark btn-brm-create">
				NUEVO CLIENTE
			</button>
		</footer>
	</section>